<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- Rem : If used via a DataAccess context, properties tag will be ignored 
  <properties resource="../../database.config"/> -->
  <properties embedded="SkyCar.Coeus.DAL.Coeus.config,SkyCar.Coeus.DAL" />
  <settings>
    <setting useStatementNamespaces="${useStatementNamespaces}" />
  </settings>
  <!-- Optional if resource -->
  <providers embedded="SkyCar.Coeus.DAL.providers.config,SkyCar.Coeus.DAL" />
  <!-- ==== SqlClient configuration =========	-->
  <!-- Rem : If used via a DataAccess context, database tag will be ignored -->
  <database>
    <!-- Optional ( default ) -->
    <provider name="sqlServer4.0" />
    <dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};pooling=true;min pool size=5;max pool size=512;connect timeout = 20;" />
  </database>
  <sqlMaps>
    <!-- user via embedded-->
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.COMM.COMMSQL_TB.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.COMM.COMMSQL.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.COMM.Login.xml,SkyCar.Coeus.DAL" />
    <!-- 00Com-->

    <!-- 01BS-->
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.BS.VehicleBrandInspireSummaManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.BS.AutoPartsArchiveManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.BS.CodeTableManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.BS.AutoPartsTypeManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.BS.AutoPartsNameManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.BS.VehicleModelMatchAutoPartsManager.xml,SkyCar.Coeus.DAL" />

    <!-- 02SM-->
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.SM.MenuManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.SM.OrganizationManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.SM.UserManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.SM.UserMenuManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.SM.BatchJobManage.xml,SkyCar.Coeus.DAL" />

    <!-- 03FM-->
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.FM.AccountReceivableBillManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.FM.AccountPayableBillManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.FM.ReceiptBillManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.FM.PayBillManager.xml,SkyCar.Coeus.DAL" />

    <!-- 04PIS-->
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.StockInBillManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.WarehouseManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.WarehouseBinManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.AutoFactoryCustomerManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.GeneralCustomerManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.SupplierManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.StockOutBillManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.TransferBillManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.InventoryQuery.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.StocktakingTaskManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.PurchaseForecastOrderQuery.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.PurchaseOrderManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.PurchaseOrderToPayConfirmWindow.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.PIS.PurchaseReturnManager.xml,SkyCar.Coeus.DAL" />

    <!-- 05WC-->

    <!-- 06SD-->
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.SD.SalesTemplate.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.SD.SalesOrder.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.SD.ProactiveSales.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.SD.SalesForecastOrder.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.SD.LogisticsBill.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.SD.SalesReturnOrderManager.xml,SkyCar.Coeus.DAL" />

    <!-- 07RPT-->
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.RPT.AutoPartsStockInReport.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.RPT.AutoPartsStockOutReport.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.RPT.SalesPerformanceReport.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.RPT.InventoryReport.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.RPT.OrgAndCustomerAmountTransReport.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.RPT.OrgAndSupplierAmountTransReport.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.RPT.OrgAndOrgAmountTransReport.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.RPT.ManagementSituationReport.xml,SkyCar.Coeus.DAL" />

    <!-- 08RIA-->
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.RIA.WalletCreateAccount.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.RIA.WalletQueryAndOperate.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.RIA.WalletTransLogQuery.xml,SkyCar.Coeus.DAL" />

    <!-- 09IS-->
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.IS.AutoPartsShareInventoryManager.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.IS.AutoFactoryInventoryQuery.xml,SkyCar.Coeus.DAL" />
    <sqlMap embedded="SkyCar.Coeus.DAL.MapFiles.IS.AFOrgVehicleBrandInspireQuery.xml,SkyCar.Coeus.DAL" />

  </sqlMaps>
</sqlMapConfig>