<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--日志用勿改-->
  <configSections>
    <sectionGroup name="iBATIS">
      <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
    </sectionGroup>
    <!--注册IBatis日志处理节点-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--日志用勿改-->
  <iBATIS>
    <logging>
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="inline" />
      </logFactoryAdapter>
    </logging>
  </iBATIS>
  <!--日志用勿改-->
  <log4net>
    <!--<appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
         -->
    <!--Pattern to output the caller's file name and line number-->
    <!-- 
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="log\SkyCar.Coeus.log" />
      <appendToFile value="true" />
      <DatePattern value="yyyyMMdd" />
      <RollingStyle value="Date" />
      <!--最大文件大小-->
      <!--<maximumFileSize value="1024MB"/>-->
      <!--日志输出级别ALL/DEBUG/INFO/WARN/ERROR/FATAL/OFF-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="COM" type="log4net.Appender.RollingFileAppender">
      <file value="log\COM\Busi" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="COM_ERROR" type="log4net.Appender.RollingFileAppender">
      <file value="log\COM\Error" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="BS" type="log4net.Appender.RollingFileAppender">
      <file value="log\BS\Busi" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="BS_ERROR" type="log4net.Appender.RollingFileAppender">
      <file value="log\BS\Error" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="SM" type="log4net.Appender.RollingFileAppender">
      <file value="log\SM\Busi" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="SM_ERROR" type="log4net.Appender.RollingFileAppender">
      <file value="log\SM\Error" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="FM" type="log4net.Appender.RollingFileAppender">
      <file value="log\FM\Busi" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="FM_ERROR" type="log4net.Appender.RollingFileAppender">
      <file value="log\FM\Error" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="PIS" type="log4net.Appender.RollingFileAppender">
      <file value="log\PIS\Busi" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="PIS_ERROR" type="log4net.Appender.RollingFileAppender">
      <file value="log\PIS\Error" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="WC" type="log4net.Appender.RollingFileAppender">
      <file value="log\WC\Busi" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="WC_ERROR" type="log4net.Appender.RollingFileAppender">
      <file value="log\WC\Error" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="SD" type="log4net.Appender.RollingFileAppender">
      <file value="log\SD\Busi" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="SD_ERROR" type="log4net.Appender.RollingFileAppender">
      <file value="log\SD\Error" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="RPT" type="log4net.Appender.RollingFileAppender">
      <file value="log\RPT\Busi" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <appender name="RPT_ERROR" type="log4net.Appender.RollingFileAppender">
      <file value="log\RPT\Error" />
      <appendToFile value="true" />
      <RollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <StaticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} [%level] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <!--<appender-ref ref="Console" />-->
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="COM_LOG">
      <level value="INFO" />
      <appender-ref ref="COM" />
    </logger>
    <logger name="COM_ERROR_LOG">
      <level value="INFO" />
      <appender-ref ref="COM_ERROR" />
    </logger>
    <logger name="BS_LOG">
      <level value="INFO" />
      <appender-ref ref="BS" />
    </logger>
    <logger name="BS_ERROR_LOG">
      <level value="INFO" />
      <appender-ref ref="BS_ERROR" />
    </logger>
    <logger name="SM_LOG">
      <level value="INFO" />
      <appender-ref ref="SM" />
    </logger>
    <logger name="SM_ERROR_LOG">
      <level value="INFO" />
      <appender-ref ref="SM_ERROR" />
    </logger>
    <logger name="FM_LOG">
      <level value="INFO" />
      <appender-ref ref="FM" />
    </logger>
    <logger name="FM_ERROR_LOG">
      <level value="INFO" />
      <appender-ref ref="FM_ERROR" />
    </logger>
    <logger name="PIS_LOG">
      <level value="INFO" />
      <appender-ref ref="PIS" />
    </logger>
    <logger name="PIS_ERROR_LOG">
      <level value="INFO" />
      <appender-ref ref="PIS_ERROR" />
    </logger>
    <logger name="WC_LOG">
      <level value="INFO" />
      <appender-ref ref="WC" />
    </logger>
    <logger name="WC_ERROR_LOG">
      <level value="INFO" />
      <appender-ref ref="WC_ERROR" />
    </logger>
    <logger name="SD_LOG">
      <level value="INFO" />
      <appender-ref ref="SD" />
    </logger>
    <logger name="SD_ERROR_LOG">
      <level value="INFO" />
      <appender-ref ref="SD_ERROR" />
    </logger>
    <logger name="RPT_LOG">
      <level value="INFO" />
      <appender-ref ref="RPT" />
    </logger>
    <logger name="RPT_ERROR_LOG">
      <level value="INFO" />
      <appender-ref ref="RPT_ERROR" />
    </logger>
  </log4net>
  <appSettings>
    <!--DB访问用SQLMAP-->
    <add key="SqlMapPath" value="sqlmap.config" />
    <!--平台API接口地址（开发）-->
    <add key="OpenPlatformUrl" value="http://221.130.58.223:12345/"/>
    <!--平台API接口地址（模拟）-->
    <!--<add key="OpenPlatformUrl" value="http://120.24.49.221:8090/"/>-->
    <!--文件服务地址（开发）-->
    <add key="FileServiceAPIURL" value="http://www.cloudcarcn.com:9003/"/>
    <!--文件服务地址（模拟）-->
    <!--<add key="FileServiceAPIURL" value="http://120.24.49.221:8092/"/>-->
    <!--Region 商户编码-->
    <add key="MctCode" value="320202008" />
    <!--Region 商户名称-->
    <add key="MctName" value="云车汽配连锁" />
    <!--Region 商户激活码-->
    <add key="MctActivationCode" value="WkuPWmN+LkhBkO83YPfdWw==" />
    <!--Region 数据库配置-->
    <add key="SystemConnString" value="221.130.58.223,1818;CoeusUlt_Dev;CoeusUlt_Dev;CoeusUlt_Dev"/>
  </appSettings>
</configuration>